@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button, .form a {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #5a9d2d;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #509d1f;
}

body {
    /*background: linear-gradient(to left, #44b83c, #8DC26F);*/
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navbar ul{
    display: none;
    /*background-color: #5a9d2d;*/
    position: absolute;
    top: 100%;
}

.navbar li:hover ul {
    display: block;
}

.navbar, .navbar ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar {
    height: 30px;
    background-color: #629d3b;
    padding-left: 5px;
}

.navbar li {
    float: left;
    position: relative;
    /*position:fixed;*/
    height: 100%;
}

.navbar li a {
    display: block;
    padding: 6px;
    width: 100px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.navbar ul li {
    float: none;
}

.navbar li:hover {
    background-color: #359d0e;
}

.navbar ul li:hover {
    /*background-color: #629d3b;*/
}

.table {
    width:auto;
    /*width:70%;*/
    border-collapse: collapse;
}

.table td, .table th {
    border: 1px solid #778377;
    padding: 3px 7px 2px 7px;
}

.table th {
    text-align: center;
    padding: 5px;
    background-color: #778377;
    color: #fff;
}

.table tr:hover {
    background-color: #d0e1ca;
}